@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("./assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("./assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

:root {
  font-family: "Barlow Semi Condensed", sans-serif;
  line-height: 1.5;
  font-weight: 600;
  color: white;

  /* Colors */
  --scissors-gradient: linear-gradient(hsl(39 89% 49%), hsl(40, 84%, 53%));
  --paper-gradient: linear-gradient(hsl(230 89% 62%), hsl(230 89% 65%));
  --rock-gradient: linear-gradient(hsl(349 71% 52%), hsl(349 70% 56%));
  --lizard-gradient: linear-gradient(hsl(261 73% 60%), hsl(261 72% 63%));
  --spock-gradient: linear-gradient(hsl(189 59% 53%), hsl(189 58% 57%));
  --bg-radial-gradient: radial-gradient(hsl(214 47% 23%), hsl(237 49% 15%));

  --text: hsl(229 25% 31%);
  --text-score: hsl(229 64% 46%);
  --header-outline: hsl(217 16% 45%);
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;

  background: var(--bg-radial-gradient);
}

.game-area {
  background: url("./assets/images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.winner {
  --size: 40px;
  --color: rgba(255, 255, 255, 0.02);

  box-shadow: 0 0 0 calc(var(--size) * 1) var(--color),
    0 0 0 calc(var(--size) * 2.2) var(--color),
    0 0 0 calc(var(--size) * 3.4) var(--color);
}
